
<div class="title" *ngIf="this.actual== ''">
  <br>
  <h2>¡Bienvenido a tu Drive!</h2>
  <hr>
</div>


<div class="title" *ngIf="this.actual!= ''">
  <br>
  <h3><mat-icon class="white mat-icon-rtl-mirror">folder_open</mat-icon>Directorio</h3>
</div>

<div class="general-container" *ngIf='this.dataSource.data.length != 0'>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
    class="example-tree">
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      matTreeNodePaddingIndent="10">
      <button mat-button (click)="cargar(node.name)">
        <mat-icon>folder</mat-icon>
        {{ node.name }}
      </button>
    </mat-tree-node>
  </mat-tree>
  <hr>
</div>

<div class="title" *ngIf='this.dataSource.data.length === 0'>
  <h3>No hay carpetas agregadas</h3>
  <hr>
</div>


<div *ngIf="this.actual!= ''">
  <div class="container-b my-2">
    <button mat-raised-button class="b-principal mr-2" (click)="volver()">
      <mat-icon class="white mat-icon-rtl-mirror">arrow_back</mat-icon>
      Volver
    </button>
    <button mat-raised-button class="b-principal" (click)="openDialog()">
      <mat-icon class="white mat-icon-rtl-mirror">
        add_circle_outline
      </mat-icon>
      Agregar
    </button>
  </div>
  <hr>
</div>